body {
    width: 100%;
    margin: 20px 30px;
    font-size: x-large;
}
h1.head {
  text-align: center;
}
table.DefaultTable {
    width: 50%;
    background-color: #ffffff;
    border-collapse: collapse;
    border-width: 1px;
    border-color: #000000;
    border-style: solid;
    color: #000000;
  }
  
  table.DefaultTable td, table.DefaultTable th {
    border-width: 1px;
    border-color: #000000;
    border-style: solid;
    padding: 3px;
  }
  
  table.DefaultTable thead {
    background-color: #e8e8e8;
  }

  code {
    background-color: #212c42;
    color: #fff;
    padding: 6px 8px 2px 8px;

  }